.calculator-pane {
    -fx-background-color: #000000;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.result-pane{
    -fx-background-color:#fff;
    -fx-background-radius:20px;
    -fx-effect:dropshadow(one-pass-box,black,10,0,0.0,2);
}
.result-label {
    -fx-font-size: 48px;
    -fx-text-fill: #333333;
    -fx-alignment: center-right;
    -fx-padding: 20px;
    -fx-pref-height: 200px;
    -fx-background-color: transparent;
    -fx-effect:none;
}

.number-button, .function-button, .operator-button, .equals-button {
    -fx-font-size: 24px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-text-fill: white;
}

.number-button {
    -fx-background-color: #333333;
}

.function-button {
    -fx-background-color: #a5a5a5;
    -fx-text-fill: black;
}

.operator-button {
    -fx-background-color: #f39c12;
}

.equals-button {
    -fx-background-color: #f39c12;
}

.wide-button {
    -fx-pref-width: 160px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.number-button:pressed, .function-button:pressed, .operator-button:pressed, .equals-button:pressed {
    -fx-background-color: #888888;
}
